/* Global styles intentionally left empty for a blank project */

.mask-group_34-531 {
  display: flex;
}
.group_34-529 {
  width: 24px;
  height: 24px;
}
.vector_34-530 {
  display: flex;
}

.group_34-527 {
  width: 19px;
  height: 19px;
}
.vector_34-528 {
  display: flex;
}

.vector_34-532 {
  display: flex;
}

.mask-group_34-537 {
  display: flex;
}
.group_34-535 {
  width: 32px;
  height: 32px;
}
.vector_34-536 {
  display: flex;
}

.group_34-533 {
  width: 19px;
  height: 14px;
}
.vector_34-534 {
  display: flex;
}

.group_34-538 {
  width: 214px;
  height: 68px;
  box-shadow:
    0px 2px 6px 0px #00000019,
    0px 0px 2px 0px #00000014,
    0px 0px 0px 0px #00000033;
}
.vector_34-539 {
  display: flex;
}

.vector_34-540 {
  display: flex;
}

.vector_34-541 {
  display: flex;
}
